
.wrap, .slide-content {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 200px;
}

.wrap {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: none; */
}

img {
    display: block;
}

.wrap__arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
    opacity: 0.4;
}

.wrap__arrow_left{
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 10px;
}


.wrap__arrow_right{
    border-width: 20px 0 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 10px;
}

.wrap__arrow:hover {
    opacity: 0.8;
    transition: opacity .2s
}
