.navigation {
    align-items: stretch;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 60px - 4px;
}

.menu__item {
    margin-right: 5%;
    justify-content: space-between;
}

.navigation__nav-block {
    display: flex; 
}

.navigator__news-menu > div:not(:first-child) {
    display: none;
}

.navigator__main-mobile-menu > div:not(:first-child) {
    display: none
}