.menu__item {
  margin-right: 25%;
  text-decoration: none;
  .propertyForText(@navigationTextColor; @header-font; 20px; 100; -0.1em);
  position: relative;

  &:after {
    position: absolute;
    .defaultTriangleProperties(40px; 50%);
    .triangleBorder(#6b9ad0; 10px);
  }

  &:before {
    position: absolute;
    .defaultTriangleProperties(42px; 50%);
    .triangleBorder(#c2e1f5; 16px);
  }

  &_active:hover::after, &_active:hover::before {
    display: block;
  }
}

.navigation {
    align-items: stretch;
    padding: 0;
    justify-content: space-between;
  flex-wrap: wrap;
}

.navigation__nav-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigation__menu {
  justify-content: space-between;
  width: 70%;
}


.menu__item {
    margin: 0;
    justify-content: space-between;
}

.navigation__nav-block {
    display: flex; 
}

.navigator__news-menu > div:not(:first-child) {
    display: none;
}

.navigator__main-mobile-menu > div:not(:first-child) {
    display: none
}

.navigator__news-menu {
  &:hover {
    &~ .test {
      display: block;
      height: 40px;
      border-top: solid 5px @borderNavigationColor;
      background-color: #ffffff;
      width: 100%;
    }
  }
}

.navigator__news-menu {
  &:hover {
    &~ .test {
      position: absolute;
      top: 30px;
      display: block;
      height: 40px;
      border-top: solid 5px @borderNavigationColor;
      background-color: #ffffff;
      width: 100%;
      z-index: 2;
    }
  }
}

button {
  border: none;
}

