@bgHeaderColor: white;

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    

    margin-top: 1%;
    margin-bottom: 1%;
    background-color: @bgHeaderColor;

    &__title {
      .propertyForText(#6795b9; @header-font; 2.5em; bold; 0.1em);
    }

    &__logo {
      .addSvg( -172px; 55px;);

      &_active:hover {
        .addSvg( -258px; 55px;);
      }
    }   
}
