
  @import (less) "./desktop.blocks/main/aside/aside.less";
  @import (less) "./desktop.blocks/header/header.less";
  @import (less) "./desktop.blocks/main/seaction/seaction.less";
  @import (less) "./desktop.blocks/navigation/navigation.less";
  @import (less) "./desktop.blocks/main/post/post.less"; 

@import (less) "mixin.less";
@import (less) "fonts.less";

body {  
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  padding: 0;  
}

@media screen and (min-width: 481px) and (max-width:935px) {
  @import (less) "./tablet.blocks/navigation/navigation.less";
  @import (less) "./tablet.blocks/main/seaction/seaction.less";
  @import (less) "./tablet.blocks/main/post/post.less";
  @import (less) "./tablet.blocks/main/aside/aside.less";
}

@media  screen and (min-width: 320px) and (max-width:480px) {
  @import (less) "./mobile.blocks/header/header.less";
  @import (less) "./mobile.blocks/navigation/navigation.less";
  @import (less) "./mobile.blocks/main/seaction/seaction.less";
  @import (less) "./mobile.blocks/main/aside/aside.less";
  @import (less) "./mobile.blocks/main/post/post.less";
}


@media screen and (min-width: 781px) {
}

* {
  transition: all .2s
}

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }