@import (less) "mixin.less";
@import (less) "fonts.less";
@import (less) "../blocks/main/aside/aside.less";
@import (less) "../blocks/header/header.less";
@import (less) "../blocks/main/seaction/seaction.less";
@import (less) "../blocks/navigation/navigation.less";
@import (less) "../blocks/main/post/post.less";

body {
  display: flex;
  flex-direction: column;
  background-color: white;  
  height: auto;
  margin: 0;
}
