.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 0;
  padding: 0;
  flex-wrap: wrap;
  
}

.navigation__menu {
  display: none;
  width: auto;
}

.navigation__nav-block {
  position: relative;
  display: flex; 
  margin: 2px;
  width: 35px;
  height: 35px;
  label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
  }
}

.nav-block__icon-menu{
  .addSvg(0px; 22px)
}

.nav-block__icon-tags {
  .addSvg(-139px; 22px)
} 


.right > div:first-child {
  display: none
}

.right {
  .navigation__nav-block {
    background-color: #6b9ad0;
  }
  &:hover .navigation__nav-block  {
    &::after {
      display: none;
    }    
  }
}


.navigation__nav-block:hover {  
  &::after { 
  top: 30px;
  left: 5px;
    border: solid transparent;
    content: " ";
    position: absolute;
    display: block;  
    border-top-color: #7ca7d9;
    border-width: 12px;
    z-index: 3;
  }

  &::before {
  top: 35px;
  left: 7px;
    border: solid transparent;
    content: " ";
    position: absolute;
    display: block;          
    border-top-color:#6b9ad0;
    border-width: 10px;
    z-index: 3;
  }
}

.navigation__pop-up-block_mobile {
  position: relative;
  background-color: #e1eefc;
  padding: 1.5%;
  display: block;  
  width: 100%;
  min-height:  60px;
  .propertyForText(#657179; @base-font; 15px; 300);
}

.pop-up-block__mobile-title {
  float: right;
  .propertyForText(#fff; @base-font; 20px; 300);
}

.side-bar__tags-block {
  justify-content: space-around;
}


.side-bar__tag {
  display: flex;
  height: 14px;
  background-color: #6794b7;
  .propertyForText(#fff; Arial; 12px; 500; 0.1em);
  &::after {
    left: 93%;
    top: 30%;
    content: " ";
    position: absolute;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #6795b7;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
  }
  &::before {
    left: 100%;
    top: 0;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-left-color: #6795b7;
    border-width: 8px;
    margin: 0;

  }

}

.navigation__pop-up-block_mobile {
  display: none;
  .navigation__menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .propertyForText(#657179; @base-font; 20px; 300);
  }
}


a {
  text-decoration: none; 
  color: #7ca6d6;
 &:visited {
   color: #7ca6d6
 }
}

hr {
  border: none;
  height: 1px;
  width: 90%;
  background-color: #fff;
  color: #fff;
}

.navigation__popup-checkbox{
  display: none;  
}


#show-main-mobile-menu:checked  ~ .pop-up-block_main-mobile-menu{
    display: block;
}

#show-tags:checked ~.pop-up-block_tags{
  padding-top: 20px;
  display: block;
}

#show-some-block:checked ~ .pop-up-block_some {
  display: block;
}

#show-about-block:checked ~ .pop-up-block_about {
  display: block;
}

.pop-up-block__mobile-title {
  display: flex; 
  margin-right: 20px;
}
.pop-up-block__mobile-title {
  &::after  {
    margin-left: 5px;
    content: " ";
    .insertSvg(20px; 15px; -184px);   
  }
}

.navigation-logo-for-mobile {
  display: flex;
  visibility: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 50%;
  .propertyForText(#a6c2e3; @base-font; 17px; 900);
}

.logo-for-mobile__loso-svg {
  margin: 0 3px;
  .insertSvg(25px; 25px; -508px);
}
