.navigation {
  height: 34px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: stretch;
}

.navigation__menu {
  display: none;  
}

.navigator__news-menu {
  display: flex;
  flex-direction: row;
}

.navigator__main-mobile-menu {
  
  display: flex;
  flex-direction: row;
}

.navigation__nav-block {
  display: flex; 
  margin: 2px;
  width: 35px;
}


.nav-block__icon-menu{
  .addSvg(0px; 22px)
}

.nav-block__icon-tags {
  .addSvg(-138px; 22px)
} 


.navigator__main-mobile-menu > div:first-child {
  display: none
}