.navigation {
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  overflow-x:hidden;
  overflow-y:hidden;

}

.navigation__nav-block {
  position: relative;
  display: flex;
  height: 54px;
  width: 50px;
  margin-top: 3px;
  margin-bottom: 3px;  
}

.navigator__news-menu {
  display: flex;
  width: auto;
  label {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
	  align-items: center;
    align-content: center; 
    cursor: pointer;
  }
}

.navigation__menu {
  width: 70%;
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.navigation__pop-up-block {
  display: none;

  width: 100%;
  background-color: #fff;
  border-top: 5px solid #c6defa;
  .propertyForText(#657179; @base-font; 15px; 300);

}


.pop-up-block__title{
  display: flex;
  background-color: #eef4fa;  
  width: 53px;  
  height: 200px;  
  justify-content: center;
  align-items: center;
  z-index: 1;
  &_left {
    float: left;
    margin-right: 1rem;
    .propertyForText(#6290b4; @header-font; 22px; bold; 0.1em);
  }
  &_right {
    float: right;    
    text-align: center;
    .propertyForText(#6290b4; @header-font; 22px; bold; 0.1em);
  }
  span {
    transform: rotate(-90deg) ;
  }
}

.navigation__nav-block:hover {
  &::after {
    top: 50px;
    left: 10px;
    border: solid transparent;
    content: " ";
    position: absolute;
    display: block;
    border-top-color: #7ca7d9;
    border-width: 15px;
    z-index: 3;
  }

  &::before {
    top: 57px;
    left: 10px;
    border: solid transparent;
    content: " ";
    position: absolute;
    display: block;
    border-top-color:#c6defa;
    border-width: 15px;
    z-index: 3;
  }
}


#show-about-block:checked ~ .left {
  display: block;
  position: relative;
}

#show-some-block:checked ~ .right {
  display: block;
  position: relative;
}

.navigator__news-menu > div:not(:first-child) {
  display: none;
}

.navigator__main-mobile-menu > div:not(:first-child) {
  display: none
}
